@import '~bootstrap/scss/bootstrap';

$font-color: #fff;
$background-color: #fff;
$cell-color: #D3D3D3;
$cell-border: #fff;
$title-color: #ff0000;

body {
  background-color: $background-color;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
}

h4 {
  margin-top: 10px;
  color: $font-color;
}

.cell {
  align-items: center;
  background-color: $cell-color;
  border: 1px solid $cell-border;
  color: red;
  display: flex;
  height: 15vh;
  justify-content: center;
}

.sign-up-display {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 45vw;
  min-height: 170px;
  min-width: 275px;
  max-width: 400px;
  color: gray;
}

.sign-in-display {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 45vw;
  min-height: 145px;
  min-width: 275px;
  max-width: 400px;
  color: gray;
}

.swap-form-display {
  margin-bottom: 80px;
  >.swap-form-message {
    display: inline-block;
  }
}

.ga-link {
  color: #ee0000;
}

.game-area {
  display: flex;
  flex-direction: column;
}

.game-button {
  align-self: center;
  margin: 5px;
  width: 150px;
}

.hidden {
  display: none;
}
