@import '~bootstrap/scss/bootstrap';

$font-color: #fff;
$background-color: #fff;
$cell-color: #D3D3D3;
$cell-border: #fff;
$title-color: #ff0000;

body {
  background-color: $background-color;
}

header {
  display: flex;
  justify-content: center;
}

h4 {
  color: $font-color;
}

.cell {
  align-items: center;
  background-color: $cell-color;
  border: 1px solid $cell-border;
  color: red;
  display: flex;
  height: 160px;
  justify-content: center;
}
